<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9769c63bf6.js" crossorigin="anonymous"></script>
</head>
<body class="login">
    <div class="text-white d-flex flex-column align-items-center justify-content-center h-100 w-100">
        <div class="fw-bolder header">Weather App</div>
        <p class="mb-5 subheader" style="color: lightgray;">By Fahrian Ramaditiya</p>
        <form id="cityset" action="landing" class="form-control" style="background-color: #202221;" method="post">
            <input type="text" class="text-white inputcity" name="city" placeholder="Search by City">
            <span style="margin-top: 0.8em; margin-left: 0.5em;"><a role="button" type="submit" onclick="document.getElementById('cityset').submit();"><span><i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i></span></a></span>
        </form>
    </div>
    <!-- <img src="images/bglogin.jpg" alt="" class="bg img-fluid"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

